{% extends "base.html" %}
{% block navlinkitem %}{% url 'adminindex' %}{% endblock navlinkitem %}

{% block navitems %}
<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="navbar-link d-flex flex-row align-items-center text-white" href="{% url 'Additem' %}"><i class="material-symbols-outlined me-2">add</i>Add Items</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link d-flex flex-row align-items-center text-white" href="{% url 'logout' %}"><i class="material-symbols-outlined me-2">logout</i>Logout</a>
        </li>
    </ul>
</div>
{% endblock navitems %}

{% block body %}
<div class="container-fluid mt-3 mb-5" style="overflow-x:auto;">
<h4>All Questions: </h4>
<table class="table table-hover text-center table-bordered">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Field</th>
        <th scope="col">Branch</th>
        <th scope="col">Year</th>
        <th scope="col">Exam Type</th>
        <th scope="col">Semester</th>
        <th scope="col">Subject</th>
        <th scope="col">Question No.</th>
        <th scope="col">Or Question</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {%for item in table %}
        <tr class="table-secondary">
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.Field}}</td>
            <td>{{item.branch}}</td>
            <td>{{item.year}}</td>
            <td>{{item.exam_type}}</td>
            <td>{{item.semester}}</td>
            <td>{{item.subject}}</td>
            <td>{{item.question_num}}({{item.question_subnum}})</td>
            <td>{% if item.question_subnum_or_only %}<span class="badge bg-success material-symbols-outlined rounded-circle">check</span>{% else %}<span class="badge bg-danger material-symbols-outlined rounded-circle">close</span>{% endif %}</td>
            <td class="d-flex flex justify-content-center">
                <a class="btn btn-warning btn-sm me-1" href="{% url 'edit' item.id %}"><i class="material-symbols-outlined bi-sm">edit</i></a>
                <button type="button" class="btn btn-danger btn-sm me-1" href="{% url 'delete' item.id %}" data-bs-toggle="modal" data-bs-target="#mydelete{{item.id}}"><i class="material-symbols-outlined bi-sm">delete</i></button>

                <div class="modal" id="mydelete{{item.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Subject: {{item.subject}} | Question: {{item.question_num}}({{item.question_subnum}})</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body" style="text-align:left;">
                            <p>Are you sure you want to delete this question?</p>
                            <p>Field: {{item.Field}}</p>
                            <p>Branch: {{item.branch}}</p>
                            <p>Year: {{item.year}}</p>
                            <p>Exam Type: {{item.exam_type}}</p>
                            <p>Semester: {{item.semester}}</p>
                            <p>Subject: {{item.subject}}</p>
                            <p>Question: {{item.question_num}}({{item.question_subnum}})</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'delete' item.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                            </form>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
            </td>
          </tr>
          {% endfor %}
    </tbody>
</table>
</div>
{% endblock body %}