{% extends 'base.html' %}

{% block navbarlink %}
{% comment %} <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Year</li>
    <li class="breadcrumb-item">Semester</li>
    <li class="breadcrumb-item active">Exam Type</li>
</ol> {% endcomment %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for item in nav %}
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'field' item.0.Field %}">{{item.0.Field}}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'branch' item.0.Field item.1.branch %}">{{item.1.branch}}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'semester' item.0.Field item.2.year item.1.branch %}">{{item.2.year}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{item.3.sem}}</li>
      {% endfor %}
    </ol>
</nav>

{% endblock navbarlink %}

{% block body %}
<div class="card-deck mt-3 ms-2">
    <div class="row gy-2 gx-3">
{% for obj in objs %}
<div class="col-sm-3 text-center">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card">
            <h5 class="card-header">Branch : {{obj.2.branch}}</h5>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"> Exam Type : {{obj.4}} </h5>
                <a href="{% url 'subject' obj.0.Field obj.1.year obj.2.branch obj.3.sem obj.4 %}" class="btn btn-primary">View Paper</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>
{% endblock body %}