{% extends 'base.html' %}

{% block navbarlink %}
{% comment %} <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Year</li>
</ol> {% endcomment %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for item in nav %}
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'field' item.0.0 %}">{{item.0.0}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ item.1}}</li>
      {% endfor %}
    </ol>
</nav>
{% endblock navbarlink %}

{% block body %}
<div class="card-deck mt-3 ms-2">
    <div class="row gy-2 gx-3">
{% for obj,year,Field in objs %}
<div class="col-sm-3 text-center">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card">
            <h5 class="card-header">Branch : {{obj}}</h5>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title"> Year : {{year}} </h5>
                <a href="{% url 'semester' Field.0 obj year %}" class="btn btn-primary">View Paper</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>
<br>
<br>
{% endblock body %}