{% extends 'base.html' %}

{% block navbarlink %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</ol>
{% endblock navbarlink %}

{% block body %}
<div class="card-deck mt-3 ms-2">
  <div class="row gy-2 gx-3">
{% for obj in objs %}
<div class="col-sm-3">
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Field : {{obj.Field}}</h4>
    <a href="{% url 'field' obj.Field %}" class="btn btn-primary mt-3">View Papers</a>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
<br>
<br>
{% endblock body %}